{% extends 'shop/layouts/main.html' %}
{% block title %}
    Shopkart | Online Shopping
{%endblock title %}
{% block content %}
<section class="bg-light py-4 my-5" style="min-height: 600px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{products}} Details</h4>
                <hr style="border-color: #b8bfc8 ;">
                {% include 'shop/inc/message.html' %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'collections' products.catagory.name %}">Collections</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{products}}</li>
                    </ol>
                  </nav>
            </div>
            <div class="col-4 my-3 pic-box">
                {% if products.trending %}
                <div class="hot">Hot</div>
                {% endif %}
                <img src="{{ products.product_image.url }}" class="card-img-top" alt="{{products}}">
            </div>
            <div class="col-8 my-3">
                <h5 class="text-sucess">
                    {{products | upper}}
                </h5>
                <p>
                    {{products.vendor}}
                </p>
                <p>
                    {{products.description}}
                </p>
                <h6 class="my-2 text-danger">Current Price : Rs.<s>{{products.original_price}}</s></h6>
                <h5 class="my-2 text-primary">Offer Price : {{products.selling_price}}</h5>
                {% if products.quantity >  0 %}
                <p>
                    <div class="input-group" style="width: 150px;">
                    <button class="input-group-text bg-success text-light" id="btnMinus"><i class="fa fa-minus"></i></button>
                    <input type="text" name="qty" id="txtQty" value="1" class="form-control text-center">
                    <button class="input-group-text bg-success text-light" id="btnPlus"><i class="fa fa-plus"></i></button>
                    </div>
                </p>
                <button class="btn btn-primary"><i class="fa fa-shopping-cart">&nbsp;</i>Add to Cart</button>
                {% else %}
                <button class="btn btn-secondary"><i class="fa fa-minus"></i>Out of Stock </button>
                {% endif %}
                <button class="btn btn-danger"><i class="fa fa-heart"></i></button>
            </div>
        </div>
    </div>
</section>
<script>
document.addEventListener("DOMContentLoaded",function(event){
    const btnPlus = document.getElementById("btnPlus")
    const btnMinus = document.getElementById("btnMinus")
    const txtQty = document.getElementById("txtQty")

    btnPlus.addEventListener("click",function(){
        let qty = parseInt(txtQty.value,10)
        qty=isNaN(qty)?0:qty
        console.log(qty)
        if (qty<10){
            qty++;
            txtQty.value=qty
        }
    })
    btnMinus.addEventListener("click",function(){
        let qty = parseInt(txtQty.value,10)
        qty=isNaN(qty)?0:qty
        if (qty > 1){
            qty--;
            txtQty.value=qty
        }
    })

})
</script>
   
{% endblock content %}