<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>
                Get connected with us on social networks:
            </span>
        </div>
        <div>
            <a href="" class="me-4 text-rest"><i class="fa fa-facebook"></i></a>
            <a href="" class="me-4 text-rest"><i class="fa fa-twitter"></i></a>
            <a href="" class="me-4 text-rest"><i class="fa fa-google"></i></a>
            <a href="" class="me-4 text-rest"><i class="fa fa-instagram"></i></a>
            <a href="" class="me-4 text-rest"><i class="fa fa-linkedin"></i></a>
            <a href="" class="me-4 text-rest"><i class="fa fa-github"></i></a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i>&nbsp;Shopkart</h6>
                    <p>
                        ShopKart.com is one stop destination for your family's fashion needs.
                        We give you the opportunity to give your wardobe a makeover with the latest collects from our top brand
                    </p>
                </div>
                <div class="col md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="#!" class="text-rest">Menu</a></p>
                    <p><a href="#!" class="text-rest">Menu</a></p>
                    <p><a href="#!" class="text-rest">Menu</a></p>
                    <p><a href="#!" class="text-rest">Menu</a></p>
                </div>
                <div class="col md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">User Links</h6>
                    <p><a href="#!" class="text-rest">Menu</a></p>
                    <p><a href="#!" class="text-rest">Menu</a></p>
                    <p><a href="#!" class="text-rest">Menu</a></p>
                    <p><a href="#!" class="text-rest">Menu</a></p>
                </div>
                <div class="col md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa fa-home"></i>&nbsp;Mathan V</a></p>
                    <p><i class="fa fa-envelope"></i>marimathan1998@gmail.com</p>
                    <p><i class="fa fa-phone"></i>&nbsp;9876543210</a></p>
                </div>
            </div>
        </div>
    </section>
</footer>