@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

html{
    font-size: 14px;
}
body{
    font-family: 'Noto Sans',sans-serif;
}
a{
    text-decoration: none;
}
.carousel-item img{
    object-fit: cover;
    object-position: top;
    height: 80vh;
    overflow: hidden;
}
.old_price{
    font-weight: bold;
    color: red;

}
.new_price{
    font-weight: bold;
    background-color: green;
    color:white;
    padding: 2px;
    border-radius: 5px;

}
.pic-box{
    position: relative;
}
.hot{
    background-color: orangered;
    width:50px;
    text-align: center;
    color: white;
    font-weight: bold;
    display: inline;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top:0;
    right: 8px;
    z-index: 10;
}